body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    animation: fadeIn 0.3s ease;
    scroll-behavior: smooth;
    position: relative;
    z-index: 1;
}

::selection {
    background-color: #ffffff;
    color: #000000;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

#nprogress .bar {
	background: #ffffff !important;
    z-index: 99999 !important;
	box-shadow: 0 0 60px #ffffffcc, 0 0 90px #ffffff99, 0 0 150px #ffffff66 !important;
}

#nprogress .peg {
	box-shadow: 0 0 100px #ffffffcc, 0 0 150px #ffffff99, 0 0 200px #ffffff66 !important;
}

#nprogress .spinner-icon {
	border-top-color: #ffffff !important;
	border-left-color: #ffffff !important;
}

#waves {
    font-size: 19px;
    color: #ffffff;
    display: inline-block;
    text-align: left;
    margin: 1px 75px 0 10px;
    white-space: nowrap;
    cursor: default;
    transition: all 0.3s ease;
}

.home-navbar {
    transform: translateX(-50%);
    width: 700px;
    top: 1%;
    margin-bottom: -10px;
    margin-left: 50%;
    background-color: #08080894;
    border: 1px solid #ffffff21;
    height: 35px;
    color: #818181;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1001;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.home-navbar .favicon {
    width: 28px;
    height: 24px;
    margin-right: -9px;
    vertical-align: middle;
}

.home-navbar a {
    color: #7c7c7c;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
}

.home-navbar a:hover {
    color: #bbbbbb;
    font-size: 18px;
}

.home-navbar a:active {
    font-size: 12px;
}

.home-navbar i {
    color: #ffffff; 
    margin-right: -19px;
    margin-left: 119px;
}

.navbar {
    top: 1%;
    background-color: #1111119c;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff1a;
    left: 50%;
    width: 1180px;
    max-width: 100%;
    display: none;
    border-radius: 25px;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    animation: fadeIn 0.3s ease;
    transform: translateX(-50%);
}

.navbar ul,
.nav-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    padding: 10px -10px;
    margin-left: 4px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.nav-buttons a i {
    border-radius: 25px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.navbar a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    transform-origin: center;
    text-decoration: none;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.2);
}

.navbar a:active {
    transform: scale(0.9);
}

.navbar a.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.spin {
    animation: spin 0.3s ease-in-out;
    transform: rotate(720deg);
    transform-origin: center;
}

.small-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.small-searchbar input[type=text] {
    padding: 14px;
    width: 90%;
    border: 1px solid #ffffff1a;
    background-color: #30303071;
    border-radius: 20px;
    color: #b9b9b9;
    font-size: 15px;
    text-align: left;
    text-indent: 0.5em;
    outline: none;
    transition: 0.5s;
}

.small-searchbar input[type=text]:focus,
.small-searchbar input[type=text]:hover {
    border: 1px solid #ffffff69;
}

.small-searchbar input[type=text]::placeholder {
    color: #818181;
}

.shortcut-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 235px), -50%);
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    background-color: #c4c4c4;
    padding: 2px 6px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: fadeIn 0.3s ease;
}

.shortcut-indicator:hover {
    background-color: #ffffff;
}

.shortcut-indicator-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 300px), -50%);
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    background-color: #c4c4c4;
    padding: 2px 6px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: fadeUp 0.3s ease;
}

.shortcut-indicator-2:hover {
    background-color: #ffffff;
}

.arrow-mode {
   display: inline-block;
   margin-left: 17px;
   transition: all 0.3s ease;
       animation: fadeIn 0.3s ease;
}

#lockIcon {
    position: absolute;
    left: 25px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #ffffff;
}

.search-container {
    position: relative;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.search-title {
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    background: linear-gradient(-45deg, #8d8d8d, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    cursor: default;
    transition: all 0.3s ease;
}

.search-title span {
    display: inline-block;
    opacity: 0;
    background: inherit;
    color: transparent;
    transform: translateY(4rem);
    animation: fadeSlideIn 0.6s forwards;
}

.search-bar {
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0 auto;
    position: relative;
}

.search-bar input[type=text] {
    padding: 18px 18px 18px 40px;
    z-index: 999;
    width: 500px;
    max-width: 100%;
    background-image: url('/assets/images/icons/search.png');
    background-size: 35px 35px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: #e0e0e0;
    font-size: 16px;
    border: 1px solid #ffffff1a;
    background-color: #08080894;
    backdrop-filter: blur(20px);
    text-indent: 0.5em;
    outline: none;
    transition: width 0.8s ease, opacity 0.5s ease-out, background-color 0.5s ease, border-color 0.3s ease;
}

.search-bar input[type=text]:focus,
.search-bar input[type=text]:hover {
    border: 1px solid #ffffff69;
}

.search-bar input[type=text]::placeholder {
    color: #ffffff69;
}

#erudaLoadingScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000d5;
    backdrop-filter: blur(6px);
    color: #ffffff;
    font-size: 3em;
    z-index: 10000;
    border-radius: 20px;
    padding: 30px;
    display: none;
}

.container {
    float: right;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

#urlInput:focus {
    width: 40%;
    top: 0;
    transform: translate(-50%, 0%);
}

::placeholder {
    color: #e0e0e0;
}

.iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    border: none;
}

.hover-link {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.3s ease;
}

.hover-link:hover {
    color: #ffffff;
}

#pingDisplay {
    position: fixed;
    margin-top: -46px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 550;
    color: #888888;
    cursor: default;
    padding: 5px 10px;
    transition: all 0.3s ease;
    z-index: -1;
    text-align: center;
}

#pingDisplay:hover {
    color: #d3d3d3;
}

.god-rays {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    --stripes: repeating-linear-gradient(100deg, #ffffffcc 0%, #ffffffcc 7%, transparent 10%, transparent 12%, #ffffffcc 16%);
    --rays: repeating-linear-gradient(100deg, #ffffffe6 10%, #e6e6e6e6 15%, #ffffffe6 20%, #e6e6e6e6 25%, #ffffffe6 30%);
    background-image: var(--stripes), var(--rays);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    mask-image: radial-gradient(ellipse at 100% 0%, transparent 40%, transparent 70%);
    -webkit-mask-image: radial-gradient(ellipse at 100% 0%, white 40%, transparent 70%);
    pointer-events: none;
    z-index: -1;
}

.god-rays::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rays);
    background-size: 200%, 100%;
    animation: god-rays 40s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000001f;
    backdrop-filter: blur(10px);
    z-index: 999998;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out forwards;
}

#namePrompt {
    position: fixed;
    font-family: 'Inter', sans-serif;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #08080894;
    border: 1px solid #ffffff21;
    color: #e0e0e0;
    padding: 25px 30px;
    border-radius: 20px;
    width: 350px;
    z-index: 999999;
    backdrop-filter: blur(10px);
    font-family: 'Poppins', sans-serif;
    text-align: left;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
    animation: fadeInPrompt 0.3s ease-in-out forwards;
}

#namePrompt .input-container label {
    display: block;
    font-size: 20px;
    color: #e0e0e0;
    font-weight: 500;
    text-align: left;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper::before {
    content: "\f007";
    font-family: "Font Awesome 6 Pro";
    font-weight: 400;
    position: absolute;
    right: -15px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #6d6d6d;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-wrapper:hover::before,
.input-wrapper:focus-within::before {
    font-weight: 900;
    color: #ffffff;
}

.input-container input {
    width: 100%;
    max-width: 280px;
    padding: 14px;
    padding-left: 30px;
    background-color: #08080894;
    background-size: 25px 25px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ffffff1a;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;  
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-container input::placeholder {
    color: #6d6d6d;
}

.input-container input:hover,
.input-container input:focus {
    border-color: #ffffff69;
}

.input-container button {
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff1a;
    color: #000000;
    font-size: 18px;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #cfcfcf;
}

.input-container button:disabled {
    opacity: 0.6;
    cursor: default;
}

#greeting {
    font-size: 19px;
    color: #888888;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
    cursor: default;
    z-index: -1;
}

#greeting:hover {
    color: #d3d3d3;
}

#namePrompt.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}

#hi {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    background-color: #08080894;
    border: 1px solid #ffffff21;    
    color: #aaaaaa;
    font-weight: 540;
    transition: all 0.3s ease;
    cursor: default;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
}

#hi:hover {
    color: #ffffff;
}

#copyright {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #08080894;
    border: 1px solid #ffffff21;    
    color: #858585;
    font-weight: 540;
    transition: all 0.3s ease;
    cursor: default;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
}

#copyright:hover {
    color: #afafaf;
}

#discord {
    position: fixed;
    bottom: 10px;
    right: 100px;
    z-index: 9999;
    background-color: #08080894;
    border: 1px solid #ffffff21;    
    color: #858585;
    font-weight: 540;
    transition: all 0.3s ease;
    cursor: default;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
}

#github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    background-color: #08080894;
    border: 1px solid #ffffff21;    
    color: #858585;
    font-weight: 540;
    transition: all 0.3s ease;
    cursor: default;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
}

.fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInPrompt {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes god-rays {
    from {
        background-position: 50% 50%, 50% 50%;
    }

    to {
        background-position: 350% 50%, 350% 50%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}