body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    scroll-behavior: smooth;
    position: relative;
    z-index: 1;
}
::selection {
    background-color: #4d4d4d;
    color: rgb(163, 163, 163);
}
#waves {
    font-size: 19px;
    color: #ffffff;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    margin-right: 80px;
    white-space: nowrap;
    cursor: default;
    transition: all 0.3s ease;
}
.top-bar {
    transform: translateX(-50%);
    width: 550px;
    margin-top: 1%;
    margin-bottom: -10px;
    margin-left: 50%;
    background-color: #08080894;
    border: 1px solid #ffffff21;
    height: 35px;
    color: #fff;
    padding: 10px 10px;
    animation: fadeIn 2s ease;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1001;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}
.top-bar .favicon {
    width: 24px;
    height: 24px;
    margin-right: -10px;
    vertical-align: middle;
}
.top-bar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 5px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}
.top-bar a:hover {
    transform: translateY(-2px);
}
.top-bar i {
    color: #ffffff;
    margin-right: -15px;
    margin-left: 130px;
}
.top-bar:hover a {
    color: #fff;
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
}
.navbar {
    top: 2%;
    background-color: #11111198;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    left: 50%;
    width: 1150px;
    max-width: 100%;
    display: none;
    border-radius: 25px;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    transform: translateX(-50%);
}
.nav-links li img {
    width: 23px;
    height: 23px;
    transition: background-color 1.3s;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li {
    padding: 10px -10px;
    margin-left: 4px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px 20px;
    transform-origin: center center;
    text-decoration: none;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.navbar a:hover {
    transform: scale(1.2);
}
.navbar a:active {
    transform: scale(0.9);
}
.navbar a.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}
.navbar a.disabled {
    transition: opacity 0.3s ease-in-out;
}
.spin {
    animation: spin 0.3s ease-in-out;
    transform: rotate(720deg);
    transform-origin: center;
}
.small-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}
.small-searchbar input[type=text] {
    padding: 15px;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    color: #b9b9b9;
    font-size: 15px;
    background-color: #1111116b;
    text-align: left;
    text-indent: 0.5em;
    outline: none;
    transition: 0.5s;
}
.small-searchbar input[type=text]:focus {
    background-color: #33333380;
}
.small-searchbar input[type=text]:hover {
    background-color: #33333380;
}
.small-searchbar input[type=text]::placeholder {
    color: #818181;
}
#lockIcon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}
.search-container {
    position: relative;
    margin-top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease;
    text-align: center;
    width: 90%;
}
.search-title {
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    color: #b6b6b6;
    cursor: default;
    transition: all 0.3s ease;
}
.search-title span {
    display: inline-block;
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInFromLeft 0.5s ease-in-out forwards;
    margin-right: -1px;
}
.search-title:hover {
    color: #ffffff;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0 auto;
}
.search-bar input[type=text] {
    padding: 18px 18px 18px 40px;
    z-index: 999;
    width: 500px;
    max-width: 100%;
    background-image: url('/assets/images/icons/search.png');
    background-size: 35px 35px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: #a8a8a8;
    font-size: 16px;
    border: none;
    font-weight: 400;
    background-color: #08080894;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    text-indent: 0.5em;
    outline: none;
    transition: width 0.8s ease, opacity 0.5s ease-out, background-color 0.5s ease, border-color 0.3s ease;
}
.search-bar input[type=text]:focus {
    border: 1px solid rgba(255, 255, 255, 0.281);
}
.search-bar input[type=text]:hover {
    border: 1px solid rgba(255, 255, 255, 0.281);
}
.search-bar input[type=text]::placeholder {
    color: #646464;
}
#erudaLoadingScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1b9d;
    backdrop-filter: blur(6px);
    color: white;
    font-size: 3em;
    z-index: 10000;
    border-radius: 20px;
    padding: 30px;
    display: none;
}
.container {
    float: right;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
#urlInput:focus {
    width: 40%;
    top: 0;
    transform: translate(-50%, 0%);
}
::placeholder {
    color: white;
}
.iframe {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    border: none;
    position: relative;
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease;
    flex-direction: column;
}
.loading-text {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 25px;
}
svg path {
    fill: none;
    stroke: #bdbdbd;
    stroke-width: 2;
}
#teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    stroke: #bdbdbd;
    stroke-width: 2;
    animation: swing 2s ease-in-out infinite;
}
#steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
}
#steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
}
.hover-link {
    color: #949494;
    text-decoration: none;
    transition: color 0.3s ease;
}
.hover-link:hover {
    color: #dadada;
}
#pingDisplay {
    position: fixed;
    margin-top: -2.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #888888;
    cursor: default;
    animation: fadeIn 2s ease;
    padding: 5px 10px;
    transition: all 0.3s ease;
    z-index: -1;
    text-align: center;
}
#pingDisplay:hover {
    color: #b6b6b6;
}
.god-rays {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    --stripes: repeating-linear-gradient( 100deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 7%, transparent 10%, transparent 12%, rgba(255, 255, 255, 0.8) 16% );
    --rays: repeating-linear-gradient( 100deg, rgba(255, 255, 255, 0.9) 10%, rgba(230, 230, 230, 0.9) 15%, rgba(255, 255, 255, 0.9) 20%, rgba(230, 230, 230, 0.9) 25%, rgba(255, 255, 255, 0.9) 30% );
    background-image: var(--stripes), var(--rays);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    animation: fadeIn 2s ease;
    mask-image: radial-gradient(ellipse at 100% 0%, rgba(255, 255, 255, 0) 40%, transparent 70%);
    -webkit-mask-image: radial-gradient(ellipse at 100% 0%, white 40%, transparent 70%);
    pointer-events: none;
    z-index: -1;
}
.god-rays::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rays);
    background-size: 200%, 100%;
    animation: god-rays 40s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.123);
    backdrop-filter: blur(10px);
    z-index: 999998;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: fadeInOverlay 0.3s ease-in-out forwards;
}
#namePrompt {
    position: fixed;
    font-family: 'Inter', sans-serif;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131313a4;
    padding: 25px 30px;
    border-radius: 20px;
    width: 350px;
    z-index: 999999;
    backdrop-filter: blur(10px);
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
    animation: fadeInPrompt 0.3s ease-in-out forwards;
}
#namePrompt .input-container label {
    display: block;
    font-size: 20px;
    color: #e0e0e0;
    font-weight: 500;
    text-align: left;
}
.input-wrapper {
    position: relative;
    display: inline-block;
}
.input-wrapper::before {
    content: "\f007";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: -15px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #6d6d6d;
    pointer-events: none;
}
.input-container input {
    width: 100%;
    max-width: 280px;
    padding: 14px;
    padding-left: 30px;
    background-color: #08080894;
    background-size: 25px 25px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: #6d6d6d;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}
.input-container input::placeholder {
    color: #6d6d6d;
}
.input-container input:focus {
    border-color: rgba(255, 255, 255, 0.281);
}
.input-container button {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #000000;
    font-size: 18px;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.input-container button:hover {
    background-color: #cfcfcf;
}
.input-container button:disabled {
    opacity: 0.6;
    cursor: default;
}
#greeting {
    font-size: 19px;
    color: #888888;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: default;
    z-index: -1;
}
#namePrompt.fade-out {
    animation: fadeOutPrompt 0.3s ease-in-out forwards;
}
#copyright {
    position: fixed;
    bottom: 10px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    color: #888888;
    font-size: 13px;
    cursor: default;
    animation: fadeIn 2s ease;
    transition: color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}
#copyright:hover {
    color: #b6b6b6;
}
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
   }
    100% {
        opacity: 1;
        transform: translateX(0);
   }
}
@keyframes fadeIn {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
#greeting:hover {
    color: #b6b6b6;
}
@keyframes fadeInOverlay {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@keyframes fadeInPrompt {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
   }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
   }
}
@keyframes fadeOutPrompt {
    0% {
        opacity: 1;
   }
    100% {
        opacity: 0;
   }
}
@keyframes god-rays {
    from {
        background-position: 50% 50%, 50% 50%;
   }
    to {
        background-position: 350% 50%, 350% 50%;
   }
}
@keyframes swing {
    0%, 100% {
        transform: rotate(3deg);
   }
    50% {
        transform: rotate(-3deg);
   }
}
@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
   }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
   }
}
@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
   }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
   }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
   }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}