:root {
    --menu-bg: #0a0a0ae7;
    --base-fg: #e0e0e0;
    --white: #fff;
    --border-light: #ffffff1a;
    --select-bg: #1b1b1b;
    --select-hover: #333;
    --close-color: #868686;
    --close-hover: #f44336;
    --transport-bg: #202020;
    --transport-hover: #333;
    --border-focus: #ffffff48;
    --placeholder-dim: #525252;
    --button-bg: #fff;
    --black: #000;
    --button-hover: #cfcfcf;
    --toggle-bg: #131313;
    --toggle-checked: #7a7a7a;
    --toggle-knob: #ccc;
    --text-dim: #666;
    --tab-bg: #1b1b1b;
    --tab-hover: #333;
}

.settings-menu {
    position: fixed;
    font-family: 'Inter', sans-serif;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--menu-bg);
    padding: 25px 30px;
    border-radius: 20px;
    width: 450px;
    z-index: 999999;
    backdrop-filter: blur(10px);
    color: var(--base-fg);
    text-align: center;
    display: none;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#settings-menu h2 {
    margin-bottom: 30px;
    margin-top: -20px;
    margin-left: -20px;
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 1px;
}

#settings-menu select {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    background-color: var(--select-bg);
    color: var(--base-fg);
    border: 1px solid var(--border-light);
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    transition: background-color 0.3s, transform 0.2s ease, box-shadow 0.2s ease;
}

#settings-menu select:focus {
    transform: scale(1.02);
}

#close-settings {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 10px;
    color: var(--close-color);
    cursor: pointer;
    z-index: 1000;
    outline: none;
    display: inline-flex;
    transition: 0.3s ease;
}

#close-settings:hover {
    color: var(--close-hover);
}

#close-settings i {
    font-size: 20px;
    line-height: 0;
}

#settings-menu select:hover {
    background-color: var(--select-hover);
}

.settings-menu.open {
    display: block;
    opacity: 1;
    animation: openMenu 0.4s forwards;
}

.settings-menu.close {
    animation: closeMenu 0.4s forwards;
}

.transport-selector {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.transport-selected {
    background-color: var(--transport-bg);
    color: var(--base-fg);
    padding: 10px;
    border: 1px solid var(--border-light);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
}

.transport-selected:hover {
    background-color: var(--transport-hover);
}

.transport-selected::after {
    content: "\f107";
    font-family: "Font Awesome 6 Free", "Font Awesome 6 Solid";
    font-weight: 900;
    font-size: 0.8em;
    transition: transform 0.3s ease;
}

.transport-selected.transport-arrow-active::after {
    transform: rotate(-180deg);
}

.transport-options {
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: 0;
    right: 0;
    background-color: var(--transport-bg);
    border: 1px solid var(--border-light);
    border-top: none;
    border-radius: 15px;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.transport-options.transport-show {
    max-height: 200px;
    opacity: 1;
}

.transport-options div {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.transport-options div:hover {
    background-color: var(--transport-hover);
}

#wisp-server {
    width: 100%;
    max-width: 270px;
    padding: 10px 15px;
    margin-left: -80px;
    background-color: var(--transport-bg);
    color: var(--base-fg);
    border: 1px solid var(--border-light);
    border-radius: 15px;
    font-size: 15px;
    outline: none;
    transition: background-color 0.3s, transform 0.2s ease, border-color 0.3s ease;
}

#wisp-server:hover {
    border: 1px solid var(--border-focus);
}

#wisp-server::placeholder {
    font-size: 0.8em;
    color: var(--placeholder-dim);
}

#save-wisp-url {
    padding: 8px 10px;
    background-color: var(--button-bg);
    border: 1px solid var(--border-light);
    color: var(--black);
    font-size: 16px;
    margin-left: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#save-wisp-url:hover {
    background-color: var(--button-hover);
}

#save-wisp-url:active {
    transform: scale(0.95);
}

#aboutblank-toggle, #navbar-toggle {
    appearance: none;
    width: 60px;
    height: 30px;
    margin-left: -390px;
    background-color: var(--toggle-bg);
    margin-bottom: 10px;
    border-radius: 30px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: inset -2px -2px 5px #ffffff33, inset 2px 2px 5px #00000033, 2px 2px 5px #0000001a;
}

#aboutblank-toggle:hover, #navbar-toggle:hover {
    box-shadow: inset -3px -3px 6px #ffffff4d inset 3px 3px 6px #0000004d 3px 3px 6px #0003;
}

#aboutblank-toggle:checked, #navbar-toggle:checked {
    background-color: var(--toggle-checked);
}

#aboutblank-toggle::before, #navbar-toggle::before {
    content: '';
    width: 26px;
    height: 26px;
    background-color: var(--toggle-knob);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.5s, box-shadow 0.3s;
}

#aboutblank-toggle:checked::before, #navbar-toggle:checked::before {
    transform: translateX(30px);
}

#settings-menu label {
    display: block;
    margin-bottom: 15px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: var(--base-fg);
}

#settings-menu p {
    font-size: 14px;
    color: var(--text-dim);
    margin-top: -5px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.settings-tabs {
    display: flex;
    justify-content: flex-start;
    transition: 0.3s ease;
    margin-bottom: 20px;
}

.tab-button {
    background-color: var(--tab-bg);
    color: var(--base-fg);
    padding: 12px 14px;
    border: 1px solid #ffffff1a;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s;
    margin-top: -10px;
    margin-right: 8px;
}

.tab-button:hover {
    background-color: var(--tab-hover);
}

.tab-button.active {
    background-color: var(--tab-hover);
    color: var(--white);
    transform: translateY(-4px);
}

.tab-content {
    opacity: 0;
    max-height: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.5s ease-out, max-height 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.tab-content.active {
    opacity: 1;
    max-height: 430px;
    transform: translateX(0);
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.2s ease-out, max-height 0.5s ease-in-out;
}

@keyframes openMenu {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes closeMenu {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}
